<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
      <add key="APP_PAIS" value="1"/>
		  <add key="APP_MARCA" value="101429"/>
      <add key="SERVER_CORREO" value="smtp.tuxpan.com"/>
      <add key="PUERTO_CORREO" value="25"/>
      <add key="CORREO_DESTINO" value="lzambrano@ttigroup.net"/>
    </appSettings>
    
    <connectionStrings>
      <add name="Subaru_ConnectionString" connectionString="Server=10.1.0.76;Initial Catalog=DFSK_BUS;User ID=sa;Password=as" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
